.app {
    min-height: 100vh;
}

.ele-children {
    transform: scale(0.9);
    transition: all linear 0.2s;
}

.ele-children:hover {
    transform: scale(1);
    cursor: pointer;
    z-index: 1;
}

@keyframes animate {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}